h1 {
    font-family: alice;
    font-size: 5em;
    text-align: center;
    color: white;
}
body {
    background-color: #143580;
}
#nodeduino {
    background-image: url("https://github.com/zacstewart/Meow/diff_blob/3ea7bae688b13ab29b182cfbe0f62dcad73d58b2/nyan-cat.gif?raw=true");
    background-repeat: no-repeat;
    background-size: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left : 0px;
}